body {
    background-color: #e17537;
    color: #adedad;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
}
a {
    text-decoration: none;
    color: #adedad;
}
a:hover {
    color: #a11d16;
}

p {
    font-size: 1.2rem;
}
main {
    height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    margin-top: auto;
    margin-bottom: 20%;
}
input {
    width: 350px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background-color: #f6ecea;
    outline: 0;
    color: #a11d16;
}
input::placeholder {
    color: #a11d16;
}

button {
    border-radius: 8px;
    border: none;
    width: 350px;
    height: 50px;
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    background-color: #e14f06;
    color: #f6ecea;
}
button:hover {
    background-color: #a11d16;
}

.error {
    color: #993333;
    font-weight: bolder;
}

/* Welcome section */
#welcome {
    display: flex;
    width: 100%;
}

.welcome-hero {
    width: 60vw;
    font-size: 4rem;
    line-height: 0.95;
}

.welcome-paths {
    background-color: #adedad;
    color: #e17537;
    width: 40vw;
}
.welcome-paths a {
    color: #e17537;
}
.welcome-paths a:hover {
    color: #a11d16;
}
.welcome-hero,
.welcome-paths {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* login */

.registration-link {
    margin-top: auto;
}

/* conditionally rendered hero backgrounds: */
.witch-front {
    object-fit: cover;
    background: url("/goya2.jpg") no-repeat;
    animation: moveWitch 0.6s forwards;
}
@keyframes moveWitch {
    from {
        background-position: 0 300%;
    }
    to {
        background-position: 0 0%;
    }
}

.writer-front {
    object-fit: cover;
    background: url("/nawal.jpg") no-repeat;
    animation: moveWriter 0.6s forwards;
}
@keyframes moveWriter {
    from {
        background-position: 400% 0%;
    }
    to {
        background-position: 0 0%;
    }
}
.webdev-front {
    object-fit: cover;
    background: url("/mary-keller.png") no-repeat;
    animation: moveWebdev 0.5s forwards;
}
@keyframes moveWebdev {
    from {
        background-position: -400% 0%;
    }
    to {
        background-position: -20px 0%;
    }
}
.vanishWitch {
    object-fit: cover;
    background: url("/goya2.jpg") no-repeat;
    animation: vanishWitch 0.6s forwards;
}
@keyframes vanishWitch {
    from {
        background-position: 0 0%;
    }
    to {
        background-position: 0 400%;
    }
}
.vanishWriter {
    object-fit: cover;
    background: url("/nawal.jpg") no-repeat;
    animation: vanishWriter 0.7s forwards;
}
@keyframes vanishWriter {
    from {
        background-position: 0 0%;
    }
    to {
        background-position: 400% 0;
    }
}

.vanishWebdev {
    object-fit: cover;
    background: url("/mary-keller.png") no-repeat;
    animation: vanishWebdev 0.5s forwards;
}
@keyframes vanishWebdev {
    from {
        background-position: -20px 0%;
    }
    to {
        background-position: -600% 0;
    }
}

/* conditional transparency in hero text */

.transparent-hero {
    color: rgb(173 237 173 / 35%);
}

/* hover status */

.witches:hover {
    color: #f6ecea;
}
.writers:hover {
    color: #e17537;
}
.webdevs:hover {
    color: #f0cdef;

    -webkit-animation: textPulsar 1.2s ease-in-out infinite alternate;
    -moz-animation: textPulsar 1.2s ease-in-out infinite alternate;
    animation: textPulsar 1.2s ease-in-out infinite alternate;
}
@keyframes textPulsar {
    from {
        text-shadow: 0 0 2px #fff, 0 0 6px #f0f, 0 0 10px #0ff, 0 0 12px #e60073;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 14px #ff4da6,
            0 0 16px #ff4da6;
    }
}
/* logged in experience: navbar*/
.profilePicture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #e17537;
}
.mainApp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.logo {
    font-size: 4.5rem;
    margin: 25px 0 0;
    color: #e17537;
}

.profileHeader a h2 {
    margin: 45px 18px;
}

.profileHeader {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    padding: 25px 5% 20px;
    background-color: #adedad;
}
.profileHeader a {
    color: #e17537;
}
.profileHeader a:hover {
    color: #a11d16;
}
.navRight {
    display: flex;
}
#logout {
    margin-right: 60px;
}
/* modal */
.modalForm,
.userCell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalWindow {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 40vw;
    height: 400px;
    border: 8px solid #f6ecea;
    border-radius: 15px;
    top: 25%;
    background-color: rgb(126, 60, 21, 0.94);
    margin: auto;
}
.closeModal {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}
label {
    border-radius: 2px;
    border: none;
    font-size: 22px;
    margin: 10px;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    width: max-content;
    text-align: center;
    font-weight: normal;
    height: 28px;
    display: inline-block;
}
#input-tag {
    display: none;
}
/* user profile */

.userProfile {
    display: flex;
    width: 100vw;
    height: 100%;
}
.profileInfo {
    width: 40vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    padding: 0 100px;
    margin: 100px 0;
    justify-content: space-between;
}
.imageSection {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #667e66;
}
.imageSection img {
    margin: auto;
}
.profilePicture:hover {
    border: 6px solid #a11d16;
}
.userProfile .profilePicture,
.imageSection img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 0;
    border: 0;
}
.bioEdit {
    display: flex;
    flex-direction: column;
}
textarea {
    width: 600px;
    height: 150px;
}
.bioButtons {
    display: flex;
    justify-content: space-evenly;
}
.bioButtons button {
    width: 200px;
}

/* user search */

.findPeople {
    display: flex;
    flex-direction: column;
    height: 55vh;
    justify-content: flex-end;
    margin-bottom: 40px;
    width: 90vw;
    align-items: center;
}
.findPeople h1 {
    margin: 80px 0 auto;
}
.fwWrapper {
    display: flex;
    width: 90vw;
}

#vanish,
.findPeople img,
.friends img,
.wannabees img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 76% 24% 63% 37% / 35% 20% 80% 65%;
}
.friends img,
.wannabees img {
    width: 170px;
    height: 170px;
}
.friends button,
.wannabees button {
    width: 200px;
    height: 35px;
    font-size: 14px;
    margin: 0 0 8px;
}
.wannabeesButtons button {
    width: 80px;
    height: 35px;
    margin: 0 10px;
    font-size: 24px;
}
.fwWrapper h1 {
    font-size: 2.3rem;
    width: 200px;
    padding-right: 40px;
    margin-top: 150px;
    margin-left: 20px;
}

.friends,
.wannabees,
.displayedUserSearch {
    display: flex;
    width: 90vw;
    overflow-x: auto;
    white-space: nowrap;
}
.friends,
.wannabees {
    margin-top: 60px;
    width: 100%;
}
.userCell {
    margin: 20px 45px;
}

.userNotFound,
.displayedUserSearch a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#vanish {
    width: 350px;
    height: 350px;
}
#vanishText {
    margin-top: 50px;
}

/* chat */

.chatCell {
    display: flex;
    align-items: center;
}
.chatElement {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.chatArea {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onlineUsers,
.chat-display-container {
    width: 55vw;
    height: 300px;
    /* overflow: auto; */
    overflow-y: scroll;
    border-radius: 5px;
    border: #adedad solid 8px;
    padding: 25px;
    margin: 50px 10px;
    /* display: flex;
    flex-direction: column-reverse; */
}
.onlineUsers {
    width: 230px;
    display: flex;
    flex-direction: column;
}
.onlineUsers h2 {
    margin: 0 0 15px;
}
.onlineUsers .chatIcon {
    margin-left: 8px;
    border: 2px solid #adedad;
    animation: glow 1.5s linear infinite alternate;
}
@keyframes glow {
    to {
        box-shadow: 0px 0px 5px 5px #53edbc;
    }
}
.onlineUsers .chatCell:hover .chatIcon {
    animation: glowOver 1s linear infinite alternate;
    border: 2px solid #b81371;
}
@keyframes glowOver {
    to {
        box-shadow: 0px 0px 6px 6px #b81371;
    }
}
.onlineUsers .chatCell {
    cursor: pointer;
}

.onlineUsers .chatCell:hover {
    border: 2px solid #adedad;
    border-radius: 5px;
    color: #993333;
    /* background-color: #993333; */
}

.chatHeader {
    margin: 50px 0 0;
    font-size: 2.5rem;
}
.chatIcon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #adedad;
    margin-right: 20px;
}

.onlineUsers .chat-display-container {
    margin: 0;
    border: none;
    padding: 0;
    width: 230px;
}
.chatRoomLink {
    cursor: pointer;
}
.chatRoomLink:hover {
    color: #993333;
}

/* footer */
footer {
    padding: 20px 0;
    font-size: 14px;
    position: absolute;
    bottom: 15px;
}
